

.darkmode{
    background-color: #222;
    transition: .2s;
}
.darkmode *{
    color: #fff;
}
.darkmode-content{
    padding: 100px 0 160px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.darkmode-name{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}
.darkmode-title{
    font-size: 32px;
    line-height: 36px;
    margin: 5px 0 15px 0;
}
.darkmode-title span{
    font-size: 32px;
    line-height: 36px;
}
.darkmode-title-desc{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
.darkmode-img{
    width: 50%;
    padding: 0 70px;
    margin: 50px 0;
    height: 480px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #E5E5E5;
}
.darkmode-img img{
    height: 100%;
}
.darkmode-modes{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.darkmode-modes div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.darkmode-modes div p{
    margin: 5px 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}
.darkmode-selected{
    color: #FF9209;
}

.darkmode-modes__light svg{
    fill: white;
}
.darkmode-modes__dark svg{
    fill: #FF9209;
}

@media (max-width: 1250px){
    .darkmode-img{
        width: 80%;
    }
}
@media (max-width: 620px){
    .darkmode-content{
        padding: 50px 0 60px 0;
    }
    .darkmode-img{
        width: 90%;
        height: 300px;
    }
    .darkmode-title{
        font-size: 26px;
        line-height: 30px;
        margin: 5px 0 15px 0;
    }
    .darkmode-title span{
        font-size: 26px;
        line-height: 30px;
    }
    .darkmode-title-desc{
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }
}