.intro-section {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    gap: 214px;
  }
  .intro-section__main {
    padding: 138px 0 155px 0;
    height: 354px;
    width: 35%;
  }
  .intro-section__logo div{
    width: 80px;
    height: 80px;
    font-size: 50px;
    border-radius: 20px;
  }
  .intro-section__logo p{
    font-size: 40px;
    margin-left: 20px;
    letter-spacing: -1px;
  }
  
  .intro-section__desc {
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    font-weight: 400;
    width: 90%;
  }
  .intro-section__article {
    color: #222539;
    line-height: 120%;
    margin: 14px 0;
    font-size: 54px;
    line-height: 110%;
    font-weight: 400;
  }
  .intro-section button {
    border: none;
    background-color: #222222;
    color: white;
    padding: 10px 0;
    width: 148px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 5px;
    margin-top: 20px;
  }
  .intro-section img {
    position: relative;
    overflow: hidden;
    height: 548px;
    margin-top: 93px;
    z-index: 1;
    width: 376px;
  }
  
  @media (max-width: 1250px){
    .intro-section__article {
      font-size: 32px;
      font-weight: 500;
      margin: 16px 0;
    }
    .intro-section__desc {
      font-size: 14px;
      line-height: 16px;
    }
    .intro-section__main {
      padding: 75px 0;
    }
    .intro-section button {
      font-size: 16px;
      margin: 10px 0;
    }
  }

  @media (max-width: 850px){
    .intro-section button{
      font-size: 16px;
      padding: 6px 16px;
    }
    .intro-section__article {
      margin: 10px 0;
      font-size: 26px;
    }
    .intro-section__main svg{
      width: 80px;
      height: 36px;
    }
  }
  @media (max-width: 620px){
    .intro-section {
      flex-direction: column;
      padding: 0 40px;
    }
    .intro-section button{
      font-size: 14px;
      margin: 15px 0;
    }
    .intro-section__main {
      padding: 25px 0;
      width: 100%;
      text-align: center;
    }
    .intro-section__main svg{
      width: 80px;
      height: 36px;
    }
    .intro-section img{
      width: 50%;
      margin: 0 auto;
    }
  }