.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000059;
  display: none;
  color: #000000;
  justify-content: center;
  align-items: center;
  z-index: 300;
  overflow-y: auto;
  padding-top: 200px;
}
.modal-content {
  padding: 38px 90px 56px 90px;
  border-radius: 4px;
  margin: 200px 0 110px 0;
  background-color: #fff; 
}
.modal-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 42px;
  padding: 10px;
}
#modal-form {
  display: flex;
  max-width: 330px;
  flex-direction: column;
  align-items: center;
}
.modal-button {
  background: #222222;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  color: white;
  letter-spacing: 2px;
  padding: 10px 65px;
  margin-top: 22px;
}
.modal-info{
  width: 100%;
}
.modal-info__input {
  background: #f2f2f2;
  border-radius: 4px;
  padding: 9px 17px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  border: none;
}
.modal-info__input:focus {
  outline: 2px solid #5AB0FF;
}

.modal-plan {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
.modal-plan > p {
  margin: 23px 0;
}

.modal-plan__radio {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  border-radius: 4px;
  height: 42px;
  user-select: none;
}
input[name="plan"] {
  display: none;
  visibility: hidden;
}
.modal-plan__label > span {
  position: absolute;
  left: 15px;
  z-index: 100;
  padding: 0px;
  height: 16px;
  width: 20px;
  background: none;
}

.modal-plan__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
input[name="plan"]:checked ~ .modal-plan__label > span {
  background: url(../../assets/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 16px;
}
.modal-plan__radio:nth-child(2) {
  border: 1px solid #0278ed;
  color: #0278ed;
}
.modal-plan__radio:nth-child(3) {
  border: 1px solid #ff5437;
  color: #ff5437;
}

.modal-plan__radio:nth-child(4) {
  border: 1px solid #ff9209;
  color: #ff9209;
}

#modal-radio-1:checked ~ .modal-plan__label {
  background-color: #0278ed;
  color: white;
}
#modal-radio-2:checked ~ .modal-plan__label {
  background-color: #ff5437;
  color: white;
}
#modal-radio-3:checked ~ .modal-plan__label {
  background-color: #ff9209;
  color: white;
}

.modal-question > p {
  margin: 43px 0 16px 0;
}

.modal-question__checkbox input {
  display: none;
  visibility: hidden;
}
.modal-question__checkbox {
  margin: 7.5px 0;
}
.modal-quest__label > span {
  border: 2px solid #0278ed;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background: none;
}
.modal-quest__label {
  display: flex;
  padding-left: 25%;
  gap: 20px;
}
input[name="modal-checkbox"]:checked ~ .modal-quest__label > span {
  background: url(../../assets/phones/blue-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
}
.modal-sending {
  display: none;
  gap: 17px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 42px;
  color: #7e7e7e;
 
}
.modal-sending svg{
  animation: 2s infinite  rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-input{
  background-color: #FFEEEE;
}
.error-text{
  visibility: hidden;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: #FF5437;
  margin-bottom: 5px;
}
.error-checkbox{
  border: 2px solid #FF5437 !important;
  animation: 1s error-checkbox infinite ;
}
#checkbox-error-text{
  visibility: hidden;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FF5437;
  margin-top: 10px;
}

@keyframes error-checkbox {
  0%{
    transform: scale( 1);
  }
  50%{
    transform: scale( 1.09);
  }
  100%{
    transform: scale( 1);
  }
}

@media (max-width: 850px){
  .modal{
    padding-top: auto;
  }
  .modal-content {
    padding: 40px 35px;
    margin: 0;
  }
  .modal-question > p {
    text-align: center;
  }
}