.prices-content {
  padding: 100px 0;
}

.prices-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding-top: 40px;
}
.prices-item {
  background-color: #f2f2f2;
  width: calc(33% - 10.5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.prices-item__time {
  text-transform: uppercase;
  margin: 20px 0;
}
.price-item__price {
  font-weight: 400;
  font-size: 105px;
  line-height: 105px;
  text-align: center;
  letter-spacing: 8px;
}
.price-item__tarif{
    font-size: 17px;
    line-height: 17px;
}
@media (max-width: 1250px) {
  .price-item__price {
    font-size: 65px;
    line-height: 65px;
    letter-spacing: 4px;
  }
  .prices-item {
    padding: 30px 0;
  }
}
@media (max-width: 620px){
  .prices-item {
    width: 100%;
  }
}