
.footer{
    background-color: #F2F2F2;
}
.footer-content{
    padding: 125px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-icons{
    margin-top: 27px;
    display: flex;
    gap: 26px;
}