/* header */

.header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
    background: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
  }

  .navbar a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
  }
  
  .navbar button{
    font-size: 14px;
    padding: 10px 31px;
    letter-spacing: 2px;
    margin-left: 15px;
  }