
.introSection {
    height: 800px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
  }
  .introSection__main {
    padding: 150px 0;
    width: 40%;
  }
  .introSection__logo div{
    width: 80px;
    height: 80px;
    font-size: 50px;
    border-radius: 20px;
  }
  .introSection__logo p{
    font-size: 40px;
    margin-left: 20px;
    letter-spacing: -1px;
  }
  
  .introSection__desc {
    font-size: 24px;
    color: #222222;
    font-weight: 200;
  }
  .introSection__article {
    color: #222539;
    line-height: 120%;
    margin: 30px 0;
    font-size: 65px;
    font-weight: 400;
  }
  .introSection button {
    font-size: 22px;
    margin: 30px 5px;
  }
  .introSection img {
    position: relative;
    height: 130%;
    padding-top: 150px;
    z-index: 1;
    width: 35%;
  }
  
  