
.intro-section {
    /* height: 700px; */
    padding: 100px;
    display: flex;
    justify-content: space-around;
  }
  .intro-section__main {
    padding: 150px 0;
    width: 35%;
  }
  .intro-section__logo div{
    width: 80px;
    height: 80px;
    font-size: 50px;
    border-radius: 20px;
  }
  .intro-section__logo p{
    font-size: 40px;
    margin-left: 20px;
    letter-spacing: -1px;
  }
  
  .intro-section__desc {
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    font-weight: 400;
  }
  .intro-section__article {
    color: #222539;
    line-height: 120%;
    margin: 30px 0;
    font-size: 54px;
    line-height: 60px;
    font-weight: 400;
  }
  .intro-section button {
    font-size: 20px;
    margin: 30px 5px;
  }
  .intro-section img {
    position: relative;
    overflow: hidden;
    height: 140%;
    margin-top: auto;
    z-index: 1;
    width: 35%;
  }
  
  @media (max-width: 1250px){
    .intro-section__article {
      font-size: 32px;
      line-height: 36px;
      font-weight: 500;
      margin: 16px 0;
    }
    .intro-section__desc {
      font-size: 12px;
      line-height: 16px;
    }
    .intro-section__main {
      padding: 75px 0;
    }
    .intro-section button {
      font-size: 16px;
      margin: 10px 0;
    }
  }