

.speed{
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
}
.speed-text{
    width: 50%;
    padding-top: 200px;
}
.speed-text :nth-child(1){
    text-transform: uppercase;
    font-size: 18px;
    color: #222222;
}
.speed-text :nth-child(2){
    margin: 15px 0;
    font-size: 40px;
    color: #222222;
}
.speed-text :nth-child(3){
    font-size: 20px;
    color: #666666;
}
.speed img{
    width: 35%;
    padding-top: 100px;
}