

.speed{
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
}
.speed-text{
    width: 50%;
    padding: 177px 0 188px 0;
}
.speed-text :nth-child(1){
  letter-spacing: 2px;
    text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.speed-text :nth-child(2){
    margin: 15px 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
}
.speed-text :nth-child(3){
    font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}