.technology {
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.technology-text {
  width: 40%;
  padding: 177px 0 188px 0;
}
.technology-text :nth-child(1) {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #222222;
}
.technology-text :nth-child(2) {
  margin: 15px 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #222222;
}
.technology-text :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

@media (max-width: 850px){
  .technology-text {
    padding: 90px 0;
    width: 50%;
  }
  .technology-text :nth-child(2) {
    font-size: 24px;
  }
  .technology-text :nth-child(3) {
    font-size: 14px;
  }
}
@media (max-width: 620px){
  .technology-text {
    padding: 40px 0;
    width: 50%;
  }
  .technology-text :nth-child(2) {
    font-size: 18px;
    line-height: 130%;
  }
  .technology-text :nth-child(3) {
    font-size: 10px;
    line-height: 170%;
  }
}