
.timer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 436px;
    background: url(../../assets/timer-img.jpeg);
  }
  .timer-section h2 {
    color: white;
    font-size: 50px;
    letter-spacing: 1.1px;
  }
  .timer-section h3 {
    color: white;
    font-size: 30px;
    letter-spacing: 1.5px;
  }
  #timer p{
    color: #FFFFFF;
    font-size: 7rem;
    width: 80%;
    margin: 0 auto;
  }
  .timer-section__timer-wrapper{
    width: 730px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .timer-section__timer-item{
    width: 25%;

  }
  .timer-numbers{
    text-align: center;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 1.1px;
  }
  .timer-numbers-desc{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.5px;
  }
  .timer-section__timer-wrapper span{
    text-align: center;
    color: #FFFFFF;
    font-size: 7rem;
  }
  .timer-section__times{
    width: 65%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
  }

  @media (max-width: 850px){
    .timer-section {
      min-height: 270px;
    }
    .timer-section h2{
      font-size: 30px;
    }
    .timer-section__timer-wrapper{
      width: 500px;
    }
    .timer-numbers{
      font-size: 50px;
      line-height: 70px;
    }
    .timer-section__timer-wrapper span{
      font-size: 50px;
    }
    .timer-numbers-desc{
      font-size: 16px;
      line-height: 18px;
    }
  }
  @media (max-width: 850px){
    .timer-section {
      min-height: 200px;
    }
    .timer-section h2{
      font-size: 22px;
    }
    .timer-section__timer-wrapper{
      width: 350px;
    }
    .timer-numbers{
      font-size: 32px;
      line-height: 40px;
    }
    .timer-section__timer-wrapper span{
      font-size: 30px;
    }
    .timer-numbers-desc{
      font-size: 12px;
      line-height: 14px;
    }
  }