
/* section1 */

.timer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 436px;
    background: url(../../assets/timer-img.jpeg);
  }
  .timer-section h2 {
    color: white;
    font-size: 50px;
    letter-spacing: 1.5px;
  }
  .timer-section h3 {
    color: white;
    font-size: 30px;
    letter-spacing: 1.5px;
  }
  #timer{
    color: #FFFFFF;
    font-size: 7rem;
    width: 80%;
    margin: 0 auto;
  }
  .timer-section__timer-wrapper{
    width: 100%;
    text-align: center;
  }
  .timer-section__times{
    width: 65%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
  }
  .timer-section p{
    color: #FFFFFF;
    font-size: 24px;
  }