/* header */

#header {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.navbar a {
  text-decoration: none;
  font-size: 16px;
  color: #666666;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
}
.logo div {
  border-radius: 5px;
  background: linear-gradient(
    134.6deg,
    #d140f8 -3.11%,
    #788ce9 33.98%,
    #37c2de 66.35%,
    #1eccae 98.49%
  );
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
  width: 50px;
  height: 50px;
}
.logo p {
  margin: 0 10px;
  font-weight: 600;
  color: #222222;
  font-size: 26px;
}

/* section1 */

.timerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 436px;
  background: url(../assets/timer-img.jpeg);
}
.timerSection h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 1.5px;
}
.timerSection h2 {
  color: white;
  font-size: 40px;
  letter-spacing: 1.5px;
}

/* section2 */

.introSection {
  height: 800px;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
.introSection__main {
  padding: 150px 0;
  width: 40%;
}
.introSection__logo div{
  width: 80px;
  height: 80px;
  font-size: 50px;
  border-radius: 20px;
}
.introSection__logo p{
  font-size: 40px;
  margin-left: 20px;
  letter-spacing: -1px;
}

.introSection__desc {
  font-size: 24px;
  color: #222222;
  font-weight: 200;
}
.introSection__article {
  color: #222539;
  line-height: 120%;
  margin: 30px 0;
  font-size: 65px;
  font-weight: 400;
}
.introSection button {
  font-size: 22px;
  margin: 30px 5px;
}
.introSection img {
  position: relative;
  height: 130%;
  padding-top: 150px;
  z-index: 1;
  width: 35%;
}

/* section3 */

.featuresSection {
  position: relative;
  z-index: 100;
  background-color: #222222;
  text-align: center;
  color: white;
  padding: 100px 10% !important;
}
.featuresSection p{
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.featuresSection h1{
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
}
.featuresSection__item {
  z-index: 10;
  width: 300px;
  height: 500px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
}
.featuresSection__item__text {
  background: #f2f2f2;
}
.featuresSection_centralImg{
  background: #0278ED;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left:calc(50% - 24px);
  z-index: 50;
}
.featuresSection_centralImg img{
  width: 24px;
  height: 27px;
}