
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins';
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: #222222;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav{
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p{
    font-size: 16px;
}
.container{
   width: 100%;
   padding: 0 calc((100% - 1200px) / 2);
}

@media (max-width: 1250px) {
  .container{
    width: 100%;
    padding: 0 calc((100% - 800px) / 2);
 }
}

@media (max-width: 850px) {
  .container{
    width: 100%;
    padding: 0 calc((100% - 600px) / 2);
 }
}